%body
  .single-container

    %header.single-header
      .header-logo

    .single-main
      .buy-panel

        %p.buy-panel-title__order 購入内容の確認

        .buy-panel__item-detail-inner
          .buy-panel__item-detail-inner__about
            = image_tag 'fmarket.jpg', alt: "test", class: "buy-panel__item-detail-inner__about__image"
            %p.buy-panel__item-detail-inner__about__name
              幽☆遊☆白書

        .buy-panel__item-detail-inner
          .buy-panel__item-detail-inner__box
            %p.buy-panel__item-detail-inner__box__price
              ¥700
            %p.buy-panel__item-detail-inner__box__delivery_fee
              送料込み

        .buy-panel__item-detail-inner
          .buy-panel__item-detail-inner__point
            ポイントは有りません

        .buy-panel__item-detail-inner
          .buy-panel__item-detail-inner__pay
            %p.buy-panel__item-detail-inner__pay__message
              支払い金額
            %p.buy-panel__item-detail-inner__pay__price
              ¥700
        %p.buy-panel__item-detail-inner__error
          配送先と支払い方法の入力を完了してください

        = button_to "購入する", "", class: "buy-panel__item-detail-inner__buy-button"

        .buy-panel__item-detail-inner.buy-panel__item-detail-inner-order1
          %p.buy-panel__item-detail-inner__shipping
            配送先
          %p.buy-panel__item-detail-inner__postcode
            〒351-0011
          %p.buy-panel__item-detail-inner__address
            鹿児島県 種子島 中種子町4-3-4
          %p.buy-panel__item-detail-inner__buyer
            tanegashiman

          .buy-panel__item-detail-inner__link
            = link_to "", class: "go-to_change" do
              %span.go-to_change__messaege 変更する
              %i.fas.fa-angle-right

        .buy-panel__item-detail-inner.buy-panel__item-detail-inner-order1
          %p.buy-panel__item-detail-inner__pay-way
            支払い方法

          %p.buy-panel__item-detail-inner__pay-detail
            クレジットカード

          .buy-panel__item-detail-inner__link
            = link_to "", class: "go-to_change" do
              %span.go-to_change__messaege 変更する
              %i.fas.fa-angle-right

    .single-footer
      = render 'signups/footer'
