%body
  .single-container
    =render 'header'
    .single-main
      .buy-panel

        %p.buy-panel-title__order 購入内容の確認

        .buy-panel__item-detail-inner
          .buy-panel__item-detail-inner__about
            = image_tag @item.images.first.image , class: "buy-panel__item-detail-inner__about__image"
            %p.buy-panel__item-detail-inner__about__name
              = @item.name

        .buy-panel__item-detail-inner
          .buy-panel__item-detail-inner__box
            %p.buy-panel__item-detail-inner__box__price
              ="¥#{@item.price.to_s(:delimited)}"
            %p.buy-panel__item-detail-inner__box__delivery_fee
              送料込み

        .buy-panel__item-detail-inner
          .buy-panel__item-detail-inner__point
            ポイントは有りません

        .buy-panel__item-detail-inner
          .buy-panel__item-detail-inner__pay
            %p.buy-panel__item-detail-inner__pay__message
              支払い金額
            %p.buy-panel__item-detail-inner__pay__price
              ="¥#{@item.price.to_s(:delimited)}"
        - unless @user.address.present? && @user.creditcard.present?
          %p.buy-panel__item-detail-inner__error
            配送先と支払い方法の入力を完了してください
            .buy-panel__item-detail-inner__buy-button
              購入する
        - else
          = link_to "購入する", pay_order_path, {method: :post, class: "buy-panel__item-detail-inner__buy-button-red"}

        - if @user.address.present?
          .buy-panel__item-detail-inner.buy-panel__item-detail-inner-order1
            %p.buy-panel__item-detail-inner__shipping
              配送先
            %p.buy-panel__item-detail-inner__postcode
              ="〒#{@user.address.postcode}"
            %p.buy-panel__item-detail-inner__address
              =@user.address.prefectures + @user.address.city + @user.address.street_num
            %p.buy-panel__item-detail-inner__buyer
              ="#{@user.lastname} #{@user.firstname}"
            .buy-panel__item-detail-inner__link
              = link_to "/mypage/address", class: "go-to_change" do
                %span.go-to_change__messaege 変更する
                %i.fas.fa-angle-right

        .buy-panel__item-detail-inner.buy-panel__item-detail-inner-order1
          %p.buy-panel__item-detail-inner__pay-way
            支払い方法
          - if @user.creditcard.present?
            %p.buy-panel__item-detail-inner__pay-detail
              クレジットカード
          -else
            %p.buy-panel__item-detail-inner__pay-detail /
          .buy-panel__item-detail-inner__link
            = link_to "/mypage/card", class: "go-to_change" do
              %span.go-to_change__messaege 変更する
              %i.fas.fa-angle-right

    .single-footer
      = render 'signups/footer'