.sidebar
  .sidebar__list
    %ul.menu
      = @menulist.zip(@linklist) do |menu,link|
        %li.menu__item
          = link_to link, class:'menu__item--link',data: { turbolinks: false} do
            = menu
            .menu__item--arrow
              %i.fas.fa-chevron-right
    .navi-head 設定
    %ul.config
      = @configlist.zip(@configlinklist) do |config, link|
        %li.config__item
          %li.config__item
            = link_to link, class:'config__item--link' do
              = config
              .config__item--arrow
                %i.fas.fa-chevron-right