%body
  = render "/homes/header"
  - breadcrumb :identification
  = render "layouts/breadcrumbs"
  .main
    = render "sidebar"
    .identification
      %h2.identification__head 本人情報の確認
      .identification__form
        %p.identification__form--explain
          お客さまの本人情報をご登録ください。
          %br
          登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        %p.identification__form--link
          = link_to "", class:"about-link" do
            %br
            本人確認書類のアップロードについて
            %i.fas.fa-chevron-right
        .identification__form--group
          %label.form-subject お名前
          %p.form-contents
            = "#{current_user.lastname} #{current_user.firstname}"
        .identification__form--group
          %label.form-subject お名前カナ
          %p.form-contents
            = "#{current_user.lastname_kana} #{current_user.firstname_kana}"
        .identification__form--group
          %label.form-subject 生年月日
          %p.form-contents
            ="#{current_user.birthday_year}/#{current_user.birthday_month}/#{current_user.birthday_day}"
        = form_for @information, url:user_information_update_path do |f|
          .identification__form--group
            %label.form-subject 郵便番号
            %span.form-optional 任意
            %br
            = f.text_field :postcode, placeholder: "例）1234567", class: 'form-text'
            - if @information.errors.messages[:postcode].any?
              = render 'shard/signups_errors', errors: @information.errors.full_messages_for(:postcode)
          .identification__form--group
            %label.form-subject 都道府県
            %span.form-optional 任意
            %br
            .select-wrrapper
              .select-arrow
                %i.fas.fa-chevron-down
              = f.collection_select :prefectures, @prefectures, :name, :name, {include_blank: "---"}, {class:'form-select'} 

          .identification__form--group
            %label.form-subject 市区町村
            %span.form-optional 任意
            %br
            = f.text_field :city, placeholder: "例）足立区安達町", class: 'form-text'
          .identification__form--group
            %label.form-subject 番地
            %span.form-optional 任意
            %br
            = f.text_field :street_num, placeholder: "例）阿立1-2-3", class: 'form-text'
          .identification__form--group
            %label.form-subject 建物名
            %span.form-optional 任意
            %br
            = f.text_field :building, placeholder: "例）アダチビル101", class: 'form-text'
          .identification__form--group
            = f.submit :"登録する", class:"submit-button"
          .identification__form--group
            %p.identification__form--link
              = link_to "", class:"about-link" do
                %br
                本人情報の登録について
                %i.fas.fa-chevron-right

  = render "/homes/footer"
  = render "/homes/postitem"