%body
  = render "/homes/header"
  - breadcrumb :identification
  = render "layouts/breadcrumbs"
  .main
    = render "sidebar"
    .identification
      %h2.identification__head 本人情報の確認
      .identification__form
        %p.identification__form--explain
          お客さまの本人情報をご登録ください。
          %br
          登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        %p.identification__form--link
          = link_to "", class:"about-link" do
            %br
            本人確認書類のアップロードについて
            %i.fas.fa-chevron-right
        .identification__form--group
          %label.form-subject お名前
          %p.form-contents 向井 治
        .identification__form--group
          %label.form-subject お名前カナ
          %p.form-contents ムカイ ジ
        .identification__form--group
          %label.form-subject 生年月日
          %p.form-contents 1994/11/09
        .identification__form--group
          %label.form-subject 郵便番号
          %span.form-optional 任意
          %br
          %input.form-text{ type: "text", placeholder: "例）1234567" }
        .identification__form--group
          %label.form-subject 都道府県
          %span.form-optional 任意
          %br
          .select-wrrapper
            .select-arrow
              %i.fas.fa-chevron-down
            = select_tag 'prefectures', options_from_collection_for_select( @prefectures, :id, :name ), class: "form-select" #機能実装時はplaseholderで初期値設定してください
        .identification__form--group
          %label.form-subject 市区町村
          %span.form-optional 任意
          %br
          %input.form-text{ type: "text", placeholder: "例）足立区安達町" }
        .identification__form--group
          %label.form-subject 番地
          %span.form-optional 任意
          %br
          %input.form-text{ type: "text", placeholder: "例）阿立1-2-3" }
        .identification__form--group
          %label.form-subject 建物名
          %span.form-optional 任意
          %br
          %input.form-text{ type: "text", placeholder: "例）アダチビル101" }
        .identification__form--group
          = button_to "登録する", "/mypage/identification", { method: :patch, class: "submit-button" } #パスは仮置き
        .identification__form--group
          %p.identification__form--link
            = link_to "", class:"about-link" do
              %br
              本人情報の登録について
              %i.fas.fa-chevron-right

  = render "/homes/footer"
  = render "/homes/postitem"