%body
  = render "/homes/header"
  - breadcrumb :logout
  = render "layouts/breadcrumbs"
  
  .contents
    .logout
      .logout__form
        = button_to "ログアウト", destroy_user_session_path, {method: :delete, class: "logout__form--button"}
    = render 'sidebar'
  = render "/homes/footer"