-# haml-lint:disable FinalNewline
%body
  = render '/homes/header'
  - breadcrumb :purchased
  = render "layouts/breadcrumbs"
  .main
    .mypage-container__purchase

      .purchase-product
        購入した商品

      .purchase-tabs
        .purchase-tabs__post
        .purchase-tabs__active

      .purchase-detail
        = link_to "取引中", purchase_mypage_index_path, class: "purchase-detail__post"
        = link_to "過去の取引", purchased_mypage_index_path, class: "purchase-detail__active"


      %ul.purchase-report-areas-none
        %li.purchase-report-area-none__area
          売却済みの商品はありません
      %br

      %ul.purchase-report-areas-exsis

        %li.purchase-report-areas-exsis__area
          = link_to "", data: { turbolinks: false}, class: "purchase-report-areas-exsis__area__link" do

            %figure.purchase-report-areas-exsis__area__link__figure
              = image_tag 'fmarket.jpg', class: 'purchase-report-areas-exsis__area__link__figure__image'

            .purchase-report-areas-exsis__area__link__item
              %p.purchase-report-areas-exsis__area__link__item__name
                「 アイテム タイトル 」を購入しました。 取引が完了しました

              .purchase-report-areas-exsis__area__link__item__detail
                %span.purchase-report-areas-exsis__area__link__item__detail__icon
                  %span.listings__selling_status.listings__selling_status-sold
                    取引完了

            %i.fas.fa-angle-right.purchase-report-areas-exsis__area__link__sngle-left

    = render "sidebar"

  = render "/homes/footer"
