%header.header-toppage
    .Header
        .HeaderTop
            .HeaderTop__Menu
                = link_to root_path do
                    .HeaderTop__Menu__header-logo

                .HeaderTop__Menu__header-search
                    = search_form_for(@ransack, url:search_homes_path) do |f|
                        = f.search_field :name_cont_any, placeholder: "何かお探しですか？", class: "search_items_filed"
                        = button_tag type: 'submit', class: "search_items_btn" do
                            %i.fas.fa-search
        .HeaderBottom
            .HeaderBottom__Left
                .HeaderBottom__Left__genre_search



                .HeaderBottom__Left__genre_search
                    %ul.home-menu-search
                        %li.home-menu-search__multi
                            %i.far.fa-list-alt
                            %a.init-bottom{:href => "#"} カテゴリーから探す
                            %ul.home-menu-search__second-level
                                %li
                                    - Category.roots.each do |parent|
                                        %a.init-right{:href => "#"} 
                                            = parent.name

                            
                .HeaderBottom__Left__genre_search
                    %ul.home-menu-search
                        %li.home-menu-search__single
                            %i.fas.fa-tag
                            %a.init-bottom{:href => "#"} ブランドから探す
                            %ul.home-menu-search__second-level
                                - @brand_rankings.each do |brand|
                                    %a.init-right{:href => "#"}
                                        = brand.name
                                %li
                                    %a.init-right{:href => "#"} ブランド一覧

            .HeaderBottom__Right
                - if user_signed_in?
                    .HeaderBottom__Right__Menu-with-sign_in
                        %i.far.fa-heart
                        いいね！一覧
                    .HeaderBottom__Right__Menu-with-sign_in
                        %i.far.fa-bell
                        お知らせ
                    .HeaderBottom__Right__Menu-with-sign_in
                        = link_to  mypage_index_path, class: "HeaderBottom__Right__Menu-with-sign_in__mypage"  do
                            %i.far.fa-image
                            マイページ
                - else
                    .HeaderBottom__Right__Menu-without-sign_in
                        = button_to "新規会員登録", signups_path, method: :get, class: "HeaderBottom__Right__Menu-without-sign_in__sign_up"
                        = button_to "ログイン", new_user_session_path, method: :get, class: "HeaderBottom__Right__Menu-without-sign_in__sign_in"
