%body.body-toppage

    = render 'header'


    .Slide-menu
        .Slide-menu__1
        .Slide-menu__2

    %main.main-toppage
        .MainMenu
            .MainMenu__FavoriteItems
                .MainMenu__FavoriteItems__Header
                    %h3.favorite-item-title いいね！した商品
                    %p.show-detail すべて見る >
                .MainMenu__FavoriteItems__Body
                    .MainMenu__FavoriteItems__Body__Items
                        .MainMenu__FavoriteItems__Body__Items__All
                            .MainMenu__FavoriteItems__Body__Items__All__List
                                .MainMenu__FavoriteItems__Body__Items__All__List__image
                                    - @images.each do |image|
                                        %img.favorite-item-image{:style => "background-image: url(#{image.image});"}


            .MainMenu__CategoryLists
                %h2.category-title 人気のカテゴリー
                .MainMenu__CategoryLists__List
                    .MainMenu__CategoryLists__List__All
                        .MainMenu__CategoryLists__List__All__list
                            %a.category-list 
                                - @categories.each do |category|
                                    = category.name


            .MainMenu__CategoryItems
                .MainMenu__CategoryItems__Header
                    %h3.category-item-title 
                        - @categorytitle.each do |category|
                            = category.name
                        %span 新着アイテム
                    %p.show-detail もっと見る >
                .MainMenu__CategoryItems__Body
                    .MainMenu__CategoryItems__Body__Items
                        .MainMenu__CategoryItems__Body__Items__All
                            .MainMenu__CategoryItems__Body__Items__All__List
                                - @categoryitems.each do |item|
                                    %figure
                                        %img.body-item-image{:style => "background-image: url(#{item.images.first.image});"}
                                        %figcaption 
                                            = item.name
                                        

            .MainMenu__BrandLists
                %h2.category-title 人気のブランド
                .MainMenu__BrandLists__List
                    .MainMenu__BrandLists__List__All
                        .MainMenu__BrandLists__List__All__list
                            %a.brand-list 
                                - @brands.each do |brand|
                                    = brand.name


            .MainMenu__BrandItems
                .MainMenu__BrandItems__Header
                    %h3.brand-item-title 
                        - @brandtitle.each do |brand|
                            = brand.name  
                        %span 新着アイテム
                    %p.show-detail もっと見る >
                .MainMenu__BrandItems__Body
                    .MainMenu__BrandItems__Body__Items
                        .MainMenu__BrandItems__Body__Items__All
                            .MainMenu__BrandItems__Body__Items__All__List
                                - @branditems.each do |item|
                                    %figure
                                        %img.body-item-image{:style => "background-image: url(#{item.images.first.image});"}
                                        %figcaption
                                            = item.name


    %aside.aside-toppage
        .Aside__Text
            .Aside__Text__Lists
                %p.aside-text1 Fmarket  わくわくフリマアプリ
                %p.aside-text2 今すぐ出品してみよう！
            %img.aside-app{alt: "", src:"https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
            %img.aside-app{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/

        .Aside__Image
            %img.aside-image1{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/

    = render 'footer'
    = render 'postitem'


