%body.body-toppage

    = render 'header'


    .Slide-menu
        .Slide-menu__1
        .Slide-menu__2

    %main.main-toppage
        .MainMenu
            .MainMenu__FavoriteItems
                .MainMenu__FavoriteItems__Header
                    %h3.favorite-item-title いいね！した商品
                    %p.show-detail すべて見る >
                .MainMenu__FavoriteItems__Body
                    .MainMenu__FavoriteItems__Body__Items
                        .MainMenu__FavoriteItems__Body__Items__All
                            .MainMenu__FavoriteItems__Body__Items__All__List
                                .MainMenu__FavoriteItems__Body__Items__All__List__image
                                    - @like_rankings.each do |image|
                                        = image_tag image.image , height: '150', width: '180', class:'favorite-item-image'



            .MainMenu__CategoryLists
                %h2.category-title 人気のカテゴリー
                .MainMenu__CategoryLists__List
                    .MainMenu__CategoryLists__List__All
                        - @category_rankings.each do |category|
                            .MainMenu__CategoryLists__List__All__list
                                %a.category-list 
                                    = category.name


            .MainMenu__CategoryItems
                .MainMenu__CategoryItems__Header
                    %h3.category-item-title 
                        - @categorytitle.each do |category|
                            = category.name
                        %span 新着アイテム
                    %p.show-detail もっと見る >
                .MainMenu__CategoryItems__Body
                    .MainMenu__CategoryItems__Body__Items
                        .MainMenu__CategoryItems__Body__Items__All
                            .MainMenu__CategoryItems__Body__Items__All__List
                                - @categoryitems.each do |item|
                                    %figure
                                        = image_tag item.images.first.image , height: '230', width: '200', class:'body-item-image'
                                        %figcaption 
                                            = item.name
                                    

                            
                                        

            .MainMenu__BrandLists
                %h2.category-title 人気のブランド
                .MainMenu__BrandLists__List
                    .MainMenu__BrandLists__List__All
                        - @brand_rankings.each do |brand|
                            .MainMenu__BrandLists__List__All__list
                                %a.brand-list 
                                    = brand.name


            .MainMenu__BrandItems
                .MainMenu__BrandItems__Header
                    %h3.brand-item-title 
                        - @brandtitle.each do |brand|
                            = brand.name  
                        %span 新着アイテム
                    %p.show-detail もっと見る >
                .MainMenu__BrandItems__Body
                    .MainMenu__BrandItems__Body__Items
                        .MainMenu__BrandItems__Body__Items__All
                            .MainMenu__BrandItems__Body__Items__All__List
                                - @branditems.each do |item|
                                    %figure
                                        = image_tag item.images.first.image , height: '230', width: '200', class:'body-item-image'
                                        %figcaption
                                            = item.name


    %aside.aside-toppage
        .Aside__Text
            .Aside__Text__Lists
                %p.aside-text1 Fmarket  わくわくフリマアプリ
                %p.aside-text2 今すぐ出品してみよう！
            = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", alt: "", class: "aside-app"

            = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", alt: "", class: "aside-app"


        .Aside__Image
            = image_tag "https://i.pinimg.com/originals/67/0c/e8/670ce89d7ce9d88121c0bf33a1d478e4.png", alt: "", class: "aside-image1", height: '200', width: '270'

    = render 'footer'
    = render 'postitem'


