%body.body-toppage

    = render 'header'


    .Home-Slide-menu
        .cont
            .slidertop
            %ul.nav
            .side-nav.side-nav--right{"data-target": "right"}
            .side-nav.side-nav--left{"data-target": "left"}


    %main.main-toppage
        .MainMenu
            - unless @like_rankings.nil?
                .MainMenu__FavoriteItems
                    .MainMenu__FavoriteItems__Header
                        %h3.favorite-item-title いいね！した商品
                        %p.show-detail すべて見る >
                    .MainMenu__FavoriteItems__Body
                        .MainMenu__FavoriteItems__Body__Items
                            .MainMenu__FavoriteItems__Body__Items__All
                                .MainMenu__FavoriteItems__Body__Items__All__List
                                    .MainMenu__FavoriteItems__Body__Items__All__List__images
                                        - current_user.likes.each do |like|
                                            = link_to item_path(like.item.id), class: "MainMenu__FavoriteItems__Body__Items__All__List__images__image" do
                                                - if like.item.selling_status == "3"
                                                    .home__sold-out-image
                                                        %span.home__sold-out-text SOLD
                                                = image_tag like.item.images.first.image.url, class:'favorite-item-image'

            - if @items.any?
                .MainMenu__CategoryLists
                    %h2.category-title 人気のカテゴリー
                    .MainMenu__CategoryLists__List
                        .MainMenu__CategoryLists__List__All
                            - @category_rankings.each do |category|
                                .MainMenu__CategoryLists__List__All__list
                                    %p.category-list
                                        = category.name

                - @category_rankings.each do |category|
                - itemscounts = 0
                    .MainMenu__CategoryItems
                        .MainMenu__CategoryItems__Header
                            %h3.category-item-title
                                = category.name
                                %span 新着アイテム
                            %p.show-detail もっと見る >
                        .MainMenu__CategoryItems__Body
                            .MainMenu__CategoryItems__Body__Items
                                .MainMenu__CategoryItems__Body__Items__All
                                    .MainMenu__CategoryItems__Body__Items__All__List
                                        - @items.each do |item|
                                            - if item.category.root_id == category.id
                                                - itemscounts += 1
                                                .MainMenu__CategoryItems__Body__Items__All__List__item
                                                    = link_to item_path(item.id) do
                                                        - if item.selling_status == "3"
                                                            .home__sold-out-image
                                                                %span.home__sold-out-text SOLD
                                                        = image_tag item.images.first.image.url , class:'body-item-image'
                                                    .MainMenu__CategoryItems__Body__Items__All__List__item__figcaption
                                                        = item.name
                                                - break if itemscounts == 5




            - if @items.where.not(brand_id: nil).any?
                .MainMenu__BrandLists
                    %h2.category-title 人気のブランド
                    .MainMenu__BrandLists__List
                        .MainMenu__BrandLists__List__All
                            - @brand_rankings.each do |brand|
                                .MainMenu__BrandLists__List__All__list
                                    %p.brand-list
                                        = brand.name

                - @brand_rankings.each do |brand|
                - itemscounts = 0
                    .MainMenu__BrandItems
                        .MainMenu__BrandItems__Header
                            %h3.brand-item-title
                                = brand.name
                                %span 新着アイテム
                            %p.show-detail もっと見る >
                        .MainMenu__BrandItems__Body
                            .MainMenu__BrandItems__Body__Items
                                .MainMenu__BrandItems__Body__Items__All
                                    .MainMenu__BrandItems__Body__Items__All__List
                                        - @items.each do |item|
                                            - if item.brand_id == brand.id
                                                - itemscounts += 1
                                                .MainMenu__CategoryItems__Body__Items__All__List__item
                                                    = link_to item_path(item.id) do
                                                        - if item.selling_status == "3"
                                                            .home__sold-out-image
                                                                %span.home__sold-out-text SOLD
                                                        = image_tag item.images.first.image.url , class:'body-item-image'
                                                    .MainMenu__CategoryItems__Body__Items__All__List__item__figcaption
                                                        = item.name
                                                - break if itemscounts == 5


    %aside.aside-toppage

        .Aside__Text
            .Aside__Text__Lists
                %p.aside-text1 Fmarket  わくわくフリマアプリ
                %p.aside-text2 今すぐ出品してみよう！
            = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", alt: "", class: "aside-app"

            = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", alt: "", class: "aside-app"

        .Aside__Image

    = render 'footer'
    = render 'postitem'


