%body
    .single-container

        %header.single-header
            .header-logo


        .single-main
            .login-panel
                .login-panel__login-no-account
                    %p.has-no-account アカウントをお持ちでない方はこちら
                    .login-panel__login-no-account__signup
                        = link_to '新規会員登録', signups_path, class: "new-signup"

                .login-panel__login-form-inner
                    = button_to user_facebook_omniauth_authorize_path, method: :post, class: "login-panel__login-form-inner--facebook" do
                        %i.fab.fa-facebook-square
                        %span.login-panel__login-form-inner--facebook__message
                            Facebookでログイン

                    = button_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "login-panel__login-form-inner--google" do
                        %i.fab.fa-google
                        %span.login-panel__login-form-inner--google__message
                            Googleでログイン


                .login-panel__login-form-form
                    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                        .login-panel__login-form-form__form-group
                            = f.email_field :email, class: 'user_email', id: 'email', placeholder: 'メールアドレス'

                        .login-panel__login-form-form__form-group
                            = f.password_field :password, class: 'user_password', id: 'password', placeholder: 'パスワード'

                        .login-panel__login-form-form__form-group
                            = recaptcha_tags id: 'recaptcha'

                        .login-panel__login-form-form__form-group
                            = f.submit "ログイン", class: "login-btn-red"

                    = link_to "パスワードをお忘れの方", "", class: "forgot-password-sign-in"

        = render 'signups/footer'


