.header-a
  = render '/homes/header'
.item-detail-content

  %h1.item-detail-content__title
    = @item.name
  .item-detail-content__information
    .item-detail-content__information--pictures
      .item-detail-phone-big
        %ul.slider-thum
          - @item.images.each.with_index(1) do |image, index|
            %li#slide-item
              - if @item.selling_status == "3"
                .item-detail__show__sold-out-image
                  %span.item-detail__show__sold-out-text SOLD
              = image_tag image.image.url, class: "item-detail-phone-big-main", id: index
      %ul.item-detail-phone-cells
        - @item.images.each.with_index(1) do |image, index|
          %li.item-slider-li
            = image_tag image.image.url, class: "item-detail-phone-cells-bits", id: index
    .item-detail-content__information--list
      %table.item-detail-table(border = "1")
        %tr
          %th.item-th 出品者
          %td.item-td
            = @item.user.nickname
            .item-user-evaluation
              .good-icon
              %span 01
              .normal-icon
              %span 02
              .bad-icon
              %span 03
        %tr
          %th.item-th カテゴリー
          %td.item-td
            = @item.category.parent.parent.name
            .category-icon
            %span
              = @item.category.parent.name
            .category-icon
            %span
              = @item.category.name
        %tr
          %th.item-th ブランド
          %td.item-td
            = @item.brand.name if @item.brand.present?
        %tr
          %th.item-th 商品のサイズ
          %td.item-td
            = @item.size
        %tr
          %th.item-th 商品の状態
          %td.item-td
            = @item.usage_status
        %tr
          %th.item-th 配送料の負担
          %td.item-td
            = @item.delivery_fee
        %tr
          %th.item-th 配送の方法
          %td.item-td
            = @item.delivery_way
        %tr
          %th.item-th 配送元地域
          %td.item-td
            = @item.delivery_area
        %tr
          %th.item-th 発送日の目安
          %td.item-td
            = @item.shipping_date

  .item-price-box
    %span.item-price-box__price
      = "¥#{@item.price.to_s(:delimited)}"
    %span.item-price-box__tax (税込)
    %span.item-price-box__postage
      = @item.delivery_fee

  .item-buy-btn
    - if @item.selling_status == "3"
      .btn-default.item-buy-btn__sold
        売り切れました
    - elsif user_signed_in?
      = button_to "購入画面に進む", buy_order_path(@item.id),method: :get, class: "btn-default item-buy-btn__red" if @item.user.id != current_user.id
    - else
      = button_to "購入画面に進む", buy_order_path(@item.id),method: :get, class: "btn-default item-buy-btn__red"
  .item-description
    %p
  = @item.description
  - if user_signed_in? && @item.user.id != current_user.id
    .item-bottom-button
      .item-bottom-button__left
        .item-like-btn
          %div{id: "like-#{@item.id}"}
            = render 'likes/like', { item: @item }
        .item-report-btn
          .i{class: "far fa-flag item-flag"}
          %span.item-flag__report不適切な商品の報告
      .item-bottom-button__right
        .item-safety-btn
          .i{class: "fas fa-lock item-lock"}
          %span.item-lock__safety あんしん・あんぜんへの取り組み
= render 'chat'
= render 'homes/footer'